<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Local Passport Authentication</title>
  </head>
  <body>
    <h3>passport-local Authentication</h3>

    <br />
    <br />
    <a style="font-size: 18px" href="/login">Sign in</a>
    <br />
    <a style="font-size: 18px" href="/logout">Logout</a>
  </body>
</html>
